My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1056,
        -112
      ],
      "id": "45be4cc5-2e67-437d-b514-5b243f93fa59",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "site:boards.greenhouse.io (software engineer OR \"AI developer\" OR \"web developer\") remote"
            },
            {
              "name": "api_key",
              "value": "79b8761fe136847207d17298cffef84f4bbf732c5a96674ed2a5d4db26b569fc"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -16
      ],
      "id": "291fed84-5eb9-4420-8033-a1bc66bbab14",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -64,
        -112
      ],
      "id": "129bd913-f43a-44b0-8d00-037317f59d2e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7895fe2f-a438-4f50-8143-56474921a3c7",
              "name": "job_title",
              "value": "={{ $json.job_title || $json.title }}",
              "type": "string"
            },
            {
              "id": "27444be9-dace-4557-bc12-1c04ee6c8092",
              "name": "job_link",
              "value": "={{ $json.job_link || $json.link }}",
              "type": "string"
            },
            {
              "id": "2ede0e25-b684-488c-aef7-2eb7dfa4132a",
              "name": "job_description",
              "value": "={{ $json.job_description || $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -368
      ],
      "id": "89493f44-42ad-4a90-a72d-de8c2e9b03be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"user\",\n      content: `Write a short, genuine cold outreach email for this job posting.\\n\\nJob Title: ${$json.job_title}\\nJob Description: ${$json.job_description}\\nJob Link: ${$json.job_link}\\n\\nMy background: I'm an AI Automation & Full-Stack Developer...\\n\\nSign the email as: Muhammad Balaj\\n\\nRules:\\n- Include a short, specific subject line...`\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        -240
      ],
      "id": "5f199931-b979-4ae0-bcde-f16f1aab7ad1",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "aTbYzhgamjKK8gS4",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const trustedDomains = [\n  'boards.greenhouse.io',\n  'jobs.lever.co',\n  'jobs.ashbyhq.com',\n  'myworkdayjobs.com'\n];\n\nconst link = ($json.job_link || $json.link || '').toLowerCase();\nconst source = $json.source || '';\n\n// Jobicy items are trusted by source, not by domain matching\nif (source === 'jobicy') {\n  const desc = ($json.job_description || '').toLowerCase();\n  // Jobicy is a remote-only board by definition — no extra remote check needed\n  return $json;\n}\n\nconst isTrusted = trustedDomains.some(domain => link.includes(domain));\nif (!isTrusted) {\n  return null;\n}\n\nconst desc = ($json.job_description || $json.snippet || '').toLowerCase();\nconst title = ($json.job_title || $json.title || '').toLowerCase();\nconst isRemote = desc.includes('remote') || title.includes('remote');\n\nif (!isRemote) {\n  return null;\n}\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -240
      ],
      "id": "0e93fa5e-f78d-4bcd-9708-3d6893e4d838",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "ite:jobs.lever.co (software engineer OR \"AI developer\" OR \" full stack web developer\") remote"
            },
            {
              "name": "api_key",
              "value": "79b8761fe136847207d17298cffef84f4bbf732c5a96674ed2a5d4db26b569fc"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        128
      ],
      "id": "019e55ca-bae4-4ec2-b268-ed16dfca3dfd",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "site:jobs.ashbyhq.com (software engineer OR \"AI developer\" OR \"web developer\") remote"
            },
            {
              "name": "api_key",
              "value": "79b8761fe136847207d17298cffef84f4bbf732c5a96674ed2a5d4db26b569fc"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -144
      ],
      "id": "d6e7d7ac-b8b5-4f35-b59e-06810b2a43c2",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "site:myworkdayjobs.com (software engineer OR \"AI developer\" OR \"web developer\") remote"
            },
            {
              "name": "api_key",
              "value": "79b8761fe136847207d17298cffef84f4bbf732c5a96674ed2a5d4db26b569fc"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -256
      ],
      "id": "45920d9d-ff98-4de5-ab4c-8e50ff90c956",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        -144
      ],
      "id": "874eaf66-8b63-4eab-8c1d-d7ecb652e4de",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        -240
      ],
      "id": "42743f52-bbac-4a67-beb7-86419930bcc7",
      "name": "Wait",
      "webhookId": "9b9cb29a-7e69-4b97-aaf5-367a72bfa694"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.groq_response.choices[0].message.content.split('\\n')[0].replace('Subject: ', '') }}",
        "message": "={{ $json.groq_response.choices[0].message.content.split('\\n').slice(1).join('\\n').trim() }}",
        "options": {
          "sendTo": "=FIND-EMAIL-FOR-{{ $json.company_name }}@placeholder.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        -240
      ],
      "id": "f4b32b4c-8a20-4fac-8a56-fe77ddb0c9ae",
      "name": "Create a draft",
      "webhookId": "65ced0a3-4f4c-48f8-814e-6b5ed840558d",
      "credentials": {
        "gmailOAuth2": {
          "id": "FK3svfOlq7gSyrLJ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const link = $json.job_link || '';\nconst source = $json.source || '';\n\n// Jobicy already has the correct company_name set upstream — don't overwrite it\nif (source === 'jobicy') {\n  return {\n    json: {\n      ...$json,\n      company_name: $json.company_name || 'unknown-company'\n    }\n  };\n}\n\nlet company = 'unknown-company';\n\nif (link.includes('greenhouse.io/')) {\n  company = link.split('greenhouse.io/')[1].split('/')[0];\n} else if (link.includes('lever.co/')) {\n  company = link.split('lever.co/')[1].split('/')[0];\n} else if (link.includes('ashbyhq.com/')) {\n  company = link.split('ashbyhq.com/')[1].split('/')[0];\n} else if (link.includes('myworkdayjobs.com')) {\n  const afterProtocol = link.split('//')[1] || '';\n  company = afterProtocol.split('.')[0];\n}\n\nreturn {\n  json: {\n    ...$json,\n    company_name: company\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -160
      ],
      "id": "54b82237-7513-4a4f-be19-b0f58de48edc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const groqOutput = $json;\nconst originalData = $('Code in JavaScript1').all()[$itemIndex].json;\n\nreturn {\n  json: {\n    ...originalData,\n    groq_response: groqOutput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -240
      ],
      "id": "4346ddfc-ad48-4e46-b514-baf5c32e58a9",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18B6Fxn_c9djsUF2XsUErkt-VPLDo5FgvYSWH82Yjk60/edit?gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_title": "={{ $('Code in JavaScript2').item.json.job_title }}",
            "company_name": "={{ $('Code in JavaScript2').item.json.company_name }}",
            "job_link": "={{ $('Code in JavaScript2').item.json.job_link }}",
            "date_processed": "={{ $now }}",
            "status": "drafted"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_link",
              "displayName": "job_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_processed",
              "displayName": "date_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        -240
      ],
      "id": "9fb92bbe-e545-40fc-bfad-fa0025312c08",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xGzcgUhlTAo9mNVm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const job = $json;\nif (!job.jobTitle) return null;\n\nreturn {\n  json: {\n    job_title: job.jobTitle,\n    company_name: job.companyName,\n    job_link: job.url,\n    job_description: job.jobDescription || job.jobExcerpt || '',\n    job_type: job.jobType || [],\n    source: 'jobicy'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -304
      ],
      "id": "fc600cfc-f90f-46b8-912e-9a4de029cfa6",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        -240
      ],
      "id": "21f03326-9b8d-4a51-baec-315dcf4a9b1a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst jobicyItems = items.filter(item => item.json.source === 'jobicy');\nconst otherItems = items.filter(item => item.json.source !== 'jobicy');\n\nconst picked = [\n  ...jobicyItems.slice(0, 4),\n  ...otherItems.slice(0, 6)\n];\n\nreturn picked;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -240
      ],
      "id": "72470078-b2dd-4396-b664-492ad5c4ce68",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const link = ($json.job_link || $json.link || '').toLowerCase();\nconst title = ($json.job_title || $json.title || '').toLowerCase();\nconst source = $json.source || '';\n\n// Jobicy: keep broader roles too, not just \"Engineer\"\nif (source === 'jobicy') {\n  return $json;\n}\n\n// Other sources: keep the stricter Engineer-only filter\nif (title.includes('engineer')) {\n  return $json;\n}\n\nreturn null;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -240
      ],
      "id": "08ae69ba-4054-4340-9bcc-f8ae99afa1ee",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "url": "https://jobicy.com/api/v2/remote-jobs?count=50&industry=dev",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        -416
      ],
      "id": "10df40e5-a464-4951-82b6-a9095e005657",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -400,
        -416
      ],
      "id": "eb3bdbed-6269-4ba0-8cbf-217d75637e11",
      "name": "Split Out1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c4f5b943-35dd-4698-afb2-23b53940023f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e9b752a388f7b5c636fd770813cf48606db1b754b8b258c9d19a730f0bcad8a"
  },
  "nodeGroups": [],
  "id": "9iuc9jwgbLWktLaa",
  "tags": []
}